# tmux sessions directory (via tmux-resurrect plugin)
data/.tmux/resurrect/*

# vim history file
data/.vim/.netrwhist

# vim sessions directory
# need the folder in git so adding a dummy README as a placeholder
data/.vim/sessions/*
!data/.vim/sessions/README.md

# wf specific files
data/.git.d/gitconfig_wf
data/.vim/plugged/*tremor*
