# Git submodules list
#
# These need to be cloned too for some of the dotfiles to work properly:
#   git submodule init
#
# To update all the submodules (along with any submodules that they may include too)
#   git submodule update --recursive

# tmux plugins ----------------------------------------------------------------
# align these with the plugin list in .tmux.conf

[submodule "data/.tmux/plugins/tmux-better-mouse-mode"]
  path = data/.tmux/plugins/tmux-better-mouse-mode
  url = https://git::@github.com/nhdaly/tmux-better-mouse-mode

[submodule "data/.tmux/plugins/tmux-continuum"]
  path = data/.tmux/plugins/tmux-continuum
  url = https://git::@github.com/tmux-plugins/tmux-continuum

[submodule "data/.tmux/plugins/tmux_mode_indicator"]
  path = data/.tmux/plugins/tmux_mode_indicator
  url = https://git::@github.com/dominikduda/tmux_mode_indicator

[submodule "data/.tmux/plugins/tmux-resurrect"]
  path = data/.tmux/plugins/tmux-resurrect
  url = https://git::@github.com/tmux-plugins/tmux-resurrect

[submodule "data/.tmux/plugins/tmux-sessionist"]
  path = data/.tmux/plugins/tmux-sessionist
  url = https://git::@github.com/tmux-plugins/tmux-sessionist

[submodule "data/.tmux/plugins/tpm"]
  path = data/.tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm

# vim plugins ------------------------------------------------------------------
# align these with the plugin list in .vimrc

[submodule "data/.vim/plugged/ale"]
  path = data/.vim/plugged/ale
  url = ssh://git@github.com/anupdhml/ale.git

[submodule "data/.vim/plugged/lightline.vim"]
  path = data/.vim/plugged/lightline.vim
  url = https://github.com/itchyny/lightline.vim.git

[submodule "data/.vim/plugged/lightline-ale"]
  path = data/.vim/plugged/lightline-ale
  url = https://github.com/maximbaz/lightline-ale.git

[submodule "data/.vim/plugged/ListToggle"]
  path = data/.vim/plugged/ListToggle
  url = https://github.com/Valloric/ListToggle.git

[submodule "data/.vim/plugged/nerdcommenter"]
  path = data/.vim/plugged/nerdcommenter
  url = https://github.com/scrooloose/nerdcommenter.git

[submodule "data/.vim/plugged/parinfer-rust"]
  path = data/.vim/plugged/parinfer-rust
  url = ssh://git@github.com/eraserhd/parinfer-rust.git

[submodule "data/.vim/plugged/rainbow"]
  path = data/.vim/plugged/rainbow
  url = ssh://git@github.com/luochen1990/rainbow.git

[submodule "data/.vim/plugged/rust.vim"]
  path = data/.vim/plugged/rust.vim
  url = https://github.com/rust-lang/rust.vim.git

[submodule "data/.vim/plugged/tmuxline.vim"]
  path = data/.vim/plugged/tmuxline.vim
  url = https://github.com/edkolev/tmuxline.vim.git

[submodule "data/.vim/plugged/tremor-vim"]
  path = data/.vim/plugged/tremor-vim
  url = ssh://git@github.com/wayfair-tremor/tremor-vim.git

[submodule "data/.vim/plugged/vader.vim"]
  path = data/.vim/plugged/vader.vim
  url = ssh://git@github.com/junegunn/vader.vim.git

[submodule "data/.vim/plugged/vim-clap"]
  path = data/.vim/plugged/vim-clap
  url = ssh://git@github.com/liuchengxu/vim-clap.git

[submodule "data/.vim/plugged/vim-clojure-static"]
  path = data/.vim/plugged/vim-clojure-static
  url = ssh://git@github.com/guns/vim-clojure-static.git

[submodule "data/.vim/plugged/vim-endwise"]
  path = data/.vim/plugged/vim-endwise
  url = https://github.com/tpope/vim-endwise.git

[submodule "data/.vim/plugged/vim-fugitive"]
  path = data/.vim/plugged/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git

[submodule "data/.vim/plugged/vim-go"]
  path = data/.vim/plugged/vim-go
  url = https://github.com/fatih/vim-go.git

[submodule "data/.vim/plugged/vim-gutentags"]
  path = data/.vim/plugged/vim-gutentags
  url = ssh://git@github.com/ludovicchabant/vim-gutentags.git

[submodule "data/.vim/plugged/vim-iced"]
  path = data/.vim/plugged/vim-iced
  url = ssh://git@github.com/liquidz/vim-iced.git

[submodule "data/.vim/plugged/vim-obsession"]
  path = data/.vim/plugged/vim-obsession
  url = https://github.com/tpope/vim-obsession.git

[submodule "data/.vim/plugged/vim-puppet"]
  path = data/.vim/plugged/vim-puppet
  url = https://github.com/rodjek/vim-puppet.git

[submodule "data/.vim/plugged/vim-rhubarb"]
  path = data/.vim/plugged/vim-rhubarb
  url = https://github.com/tpope/vim-rhubarb.git

[submodule "data/.vim/plugged/vim-sexp"]
  path = data/.vim/plugged/vim-sexp
  url = ssh://git@github.com/guns/vim-sexp.git

[submodule "data/.vim/plugged/vim-sexp-mappings-for-regular-people"]
  path = data/.vim/plugged/vim-sexp-mappings-for-regular-people
  url = ssh://git@github.com/tpope/vim-sexp-mappings-for-regular-people.git

[submodule "data/.vim/plugged/vim-surround"]
  path = data/.vim/plugged/vim-surround
  url = https://github.com/tpope/vim-surround.git

[submodule "data/.vim/plugged/vim-terraform"]
  path = data/.vim/plugged/vim-terraform
  url = https://github.com/hashivim/vim-terraform.git

[submodule "data/.vim/plugged/VimCompletesMe"]
  path = data/.vim/plugged/VimCompletesMe
  url = https://github.com/ajh17/VimCompletesMe.git

[submodule "data/.vim/plugged/vista.vim"]
  path = data/.vim/plugged/vista.vim
  url = ssh://git@github.com/liuchengxu/vista.vim.git

[submodule "data/.vim/plugged/zprint.vim"]
  path = data/.vim/plugged/zprint.vim
  url = ssh://git@github.com/bfontaine/zprint.vim.git
