[user]
	email = anupdhml+git@gmail.com
	name = anupdhml

[color]
	ui = true
[core]
	excludesfile = /home/anup/.gitignore_global
	autocrlf = input
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
