[user]
	email = anupdhml+git@gmail.com
	name = anupdhml
[color]
	ui = true
[core]
	excludesfile = /home/anup/.gitignore_global
	autocrlf = false
[push]
	default = current
[rerere]
	enabled = true
[pull]
	rebase = true
[alias]
  rb = "!MERGE_BASE=$(git merge-base origin/master HEAD); git diff --full-index $MERGE_BASE HEAD"
