# Config file for git

[user]
  email = anupdhml+git@gmail.com
  name = Anup Dhamala

# core options ----------------------------------------------------------------

[core]
  # gitignore config to apply for all projects
  excludesfile = ~/.git.d/gitignore_global

  # git won't mess with the line endings
  autocrlf = false

  # speeds up operations like git diff and git status especially on filesystems like NFS
  preloadindex = true

  # better highlighting for git diff (word based)
  # also always clear the screen after pager use
  pager = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less -r -c -+F -+X

# others -----------------------------------------------------------------------

[commit]
  template = ~/.git.d/template_commit_message
[credential]
  helper = cache
[push]
  default = current
[pull]
  rebase = true
[fetch]
  prune = true
[rerere]
  enabled = true
[grep]
  extendRegexp = true
  lineNumber = true
[color]
  ui = true

# file includes ----------------------------------------------------------------

# git aliases
[include]
  path = ~/.git.d/aliases

# For repos in the matching directory, read further configs. Useful for
# overriding stuff so far (eg: different author identity for these repos)
[includeIf "gitdir:~/wf/repos/"]
  # for wf use
  path = ~/.git.d/gitconfig_wf
