# Config file for git

[user]
  email = anupdhml+git@gmail.com
  name = anupdhml
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = false
  preloadindex = true
  # better highlighting for git diff (word based)
  # also always clear the screen after pager use
  pager = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less -r -c -+F -+X
[push]
  default = current
[rerere]
  enabled = true
[pull]
  rebase = true
[alias]
  # basics
  d   = diff
  ds  = diff --staged
  b   = branch
  s   = status
  su  = status -suno
  sh  = show
  a   = add
  pl  = pull
  ps  = push
  c   = checkout
  cb  = checkout -b
  cm  = commit -m
  cam = commit -a -m
  # extras
  rs  = reset --soft HEAD~1
  rh  = reset --hard HEAD~1
  g   = grep --break --heading --line-number
  lg  = log --graph --pretty=format:'%Cred%h%Creset %Cgreen[%<(11,trunc)%cr]%Creset %C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit
  # for posting to reviewboard
  rb  = "!MERGE_BASE=$(git merge-base origin HEAD); git diff --full-index $MERGE_BASE HEAD"
  rbf = "!MERGE_BASE=$(git merge-base origin HEAD); git diff --name-only --full-index $MERGE_BASE HEAD"
  # checkout branch with fuzzy search for names
  bc  = "!bc() { git checkout $(git branch | fzy -e $1); }; bc"
  # better diff to show word level changes
  #dw  = "!git diff --color | perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less -r -c"
[grep]
  extendRegexp = true
  lineNumber = true
[fetch]
  prune = true
[credential]
  helper = cache

# For repos in the matching directory, read further configs. Useful for
# overriding stuff so far (eg: different author identity for these repos)
[includeIf "gitdir:~/wf/repos/"]
  # for wf use
  path = .gitconfig_wf
