# Config file for readline library (see `man 3 readline` and info `rluserman`).
# Used by interactive programs like bash for line editing (handling things like completion on the way).
#
# For all available options here, run `bind -V`.
# Some options are documented at:
# https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html

$include /etc/inputrc

# allow UTF-8 input and output
set input-meta on
set output-meta on
set convert-meta off

# ring the terminal bell
set bell-style audible

# to enable vi-style controls. default is emacs
#set editing-mode vi
#set keymap vi

# completion ------------------------------------------------------------------

# case insensitive single-tab completion
set completion-ignore-case on
set show-all-if-ambiguous on
set show-all-if-unmodified on

# underscores and hyphens are treated equally when completing
set completion-map-case on

# better completion for long file names
# common prefixes longer than this value are replaced with ellipsis
set completion-prefix-display-length 2

# better completion when in the middle of word
# (don't duplicate what's already there)
set skip-completed-text on

# append char to indicate file type (eg for symlinks, similar to ls -F)
set visible-stats on
# mark directories with slash at the end
set mark-directories on
# mark symlinked directories with slash at the end
set mark-symlinked-directories on

# color files by types
set colored-stats on
# color the common prefix
set colored-completion-prefix on
# color the common prefix in menu-complete
set menu-complete-display-prefix on

# others ----------------------------------------------------------------------

# paren matching
set blink-matching-paren on

# bindings --------------------------------------------------------------------

# make history search easier, using up and down arrows
"\e[A": history-search-backward
"\e[B": history-search-forward

# cycle through available completions, using ctrl-up and ctrl-down
"\e[1;5A": menu-complete-backward
"\e[1;5B": menu-complete
