#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Grooveshark (Chrome)
Exec=/opt/google/chrome/google-chrome --app="http://grooveshark.com/#!/halfwise7/collection/favorites" --profile-directory=Default
Icon=/home/anup/data/image-files/icons/launcher-icons/grooveshark.svg
Categories=Audio;Music;Player;AudioVideo
